page-login {
  // .content.content-md{
  //   background-color: #911206;
  // }
  .getStart {
    background-image: url('/assets/imgs/marco.png');
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    background-attachment: fixed;
  }
  .logo_menu {
    color: #15b0ed;
    font-size: 275px;
  }
  .center {
    text-align: center;
  }
  .text-input-md {
    margin: 13px 13px;
  }
}
