<ion-header>
  <ion-navbar>
    <ion-title center>
      GPS Notificaciones
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cédula de Notificación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><ion-icon name="nbarcode"></ion-icon></ion-label>
        <ion-input type="text" [(ngModel)]="nbarcode" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <button class="left" ion-button color="primary" (click)=scan()>Escanear</button>
        <button class="right" ion-button color="default" [disabled]="!nbarcode" (click)=search(nbarcode)>Buscar</button>
      </ion-item>
    </ion-card-content>
  </ion-card><br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos de la Cédula</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Expediente</ion-label>
            <ion-label>{{expediente}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Juzgado</ion-label>
            <ion-label>{{juzgado}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Cédula</ion-label>
            <ion-label>{{cedula}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card><br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Notificación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>Tipo de diligencia</ion-label>
              <ion-select class="select" placeholder="Seleccione un tipo" [(ngModel)]="formRegister.tbldiligencia_id">
                <ion-option *ngFor="let diligencia of diligencias" [value]="diligencia.value">{{ diligencia.name }}</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Tipo de motivo</ion-label>
              <ion-select class="select" placeholder="Seleccione un tipo" [(ngModel)]="formRegister.tblmotivo_id">
                <ion-option *ngFor="let motivo of motivos" [value]="motivo.value">{{ motivo.name }}</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card><br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fotografía</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <button ion-button (click)="getPosition()"><ion-icon name="locate"></ion-icon></button>-->
      <button ion-button (click)="takePhoto()">Tomar captura</button> 
      <p center style="margin-top: 15px"><img [hidden]="!myphoto" [src]="myphoto"></p>
      <!-- <br><br>
      <p center><img [hidden]="!urlToShow" [src]="urlToShow"></p> -->
    </ion-card-content>
  </ion-card><br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ubicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="getGeolocation()">Obtener posición</button>
      <!-- <button ion-button (click)="watchLocation()">Watch Location Updates</button>
      <button ion-button (click)="stopLocationWatch()">Stop Location Watch</button> -->
      <div *ngIf="geoLatitude">
        <p>Latitud : {{geoLatitude}}</p>
        <p>Longitud : {{geoLongitude}}</p>
        <p>Precisión : {{geoAccuracy}}</p>
        <p class="address-text">
      
          <span class="watch-text" *ngIf="isWatching; else notWatching">
            Rastreando posición
          </span>
          <ng-template #notWatching>
            Rastreo detenido
          </ng-template>
      
          <br>Dirección : {{geoAddress }}
        </p>
      </div>
    </ion-card-content>
  </ion-card><br>

 <button ion-button block (click)="uploadFile()" color="warning"><ion-icon name="cloud-upload"></ion-icon> Subir Información</button> 

</ion-content>

<ion-footer no-border text-center>
  <ion-toolbar id="tabs">
    <div style="width: 33.33%; float: left;">
      <ion-buttons>
        <button (click)="takePhoto()" color="light" class="part" ion-button icon-only clear large>
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div style="width: 33.33%; float: right; border-left: 1px solid #fff">
      <ion-buttons>
        <button (click)="exit()" color="light" class="part" ion-button icon-only clear large>
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div style="width: 33.33%; float: right; border-left: 1px solid #fff">
      <ion-buttons>
        <button (click)="getGeolocation()" color="light" class="part" ion-button icon-only clear large>
          <ion-icon name="locate"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>
