page-cednot {
  .marco1 {
      background-image: url('/assets/imgs/marco1.png');
      background-repeat: no-repeat;
      background-size: 100% 100% !important;
      background-attachment: fixed;
  }
  .lblCed {
      color: #911206;
      font-weight: bold;
      font-size: 20px;
  }
}
